body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img{
  max-width: 320px;
  max-height: 320px;
  border: red 3px solid;
}
.no_line{
  text-decoration: none;
}
.summary_btn{
  width: 163px;
}
.no_puce{
  list-style-type: none
}
.myModal{
  color: white;
  position: fixed;
  top: 0;
  background-color:rgba(0, 0,0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}